@font-face{
	font-family: futura;
	src:url(../assets/Renner.ttf);
}
body{
	background: lightpink;
	font-family: futura;
}

header{
	width: 17%;
	background: white;
	position: fixed;
	right: 20px;
	top: 20px;
}
nav{
	text-align: center;

}
nav ul{
	list-style: none;
	text-align: center;
	padding: 0;
	justify-content: space-between;
}
nav ul li{
	text-align: center;
	display: inline-flex;
}

a:link{
	color: #73ace1;
	text-decoration: none;

}
a:visited{
	color: hotpink;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
a:active{
	text-decoration: underline;
}

#kermit {
	position: relative;
}

#kermit img{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}
#about{
	background: white;
	position: relative;
	width:75%;
	height: 25%;
	display: flex;	
	margin-left: 30px;
	/*align-items: flex-end;*/
	justify-content: flex-end;
	flex-direction: row;
	margin-bottom: none;
}
#about img{
	width: 100%;
	align-self: flex-start;
}
#about #a1{
	/*background: white;*/
	width:75%;
	padding-bottom: none;
	padding-left: 15px;
	padding-right: 20px;
	padding-top: 10px;
}
#about #a2{
	display: flex;
	width: 50%;
	margin-bottom: 0px;
}

#games{
	position: relative;
	padding-left: 30px;
	padding-top:10px;
	width:75%;
	display: flex;
	flex-wrap: wrap;
}
#games a{
	width: calc(50% - 15px);
	padding-right: 15px;
	padding-bottom: 15px;
}
#games img{
	width:100%;
}

#contact{
	padding-left: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 30%;
}

#contact img {
	width: 60px;
	height: 60px;
	padding-right: 20px;
	filter: invert(52%) sepia(100%) hue-rotate(90deg);
}

.TopUI{
	font-size: 20px;
}
.topIMG{
	opacity: 1;
	transition: 0.3s;
}
.topIMG:hover{
	transition: 0.3s;
	opacity: 0;
}